<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODO app</title>
    <script src="node_modules/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-app="">
    <div class="container" ng-controller="TodoController">
    	<header class="app-header">
    		<h1 class="app-title">{{ appTitle }}</h1>
    		<h1 class="app-headline">{{ appHeadline }}</h1>
    	</header>

    	<section class="app-body">
    		<section class="archive-control">
    			<span>{{ remaining() }} of {{ todos.length }} remaining</span>
    			<p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
    		</section>

    		<ul class="unstyled">
    			<li data-ng-repeat="todo in todos track by $index">
    				<input type="checkbox" data-ng-model="todo.done">
    				<span class="done-{{ todo.done }}">{{ todo.text }}</span>
    			</li>
    		</ul>

    		<form data-ng-submit="addTodo()" class="todo-form">
    			<input type="text" data-ng-model="todoText" placeholder="Enter new ToDo item" />
    			<br />
    			<input type="submit" value="Add Task" />
    		</form>
    	</section>
    </div>
</html>
