@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

.breadCrumbs_clear {
  clear: both;
}

.breadCrumbs_animation {
  -webkit-transition: all 0.3s ;
  -moz-transition: all 0.3s ;
  -ms-transition: all 0.3s ;
  -o-transition: all 0.3s ;
  transition: all 0.3s ;
}

.breadCrumbs_wrapper {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  float: left;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}


.breadCrumbs {
  position: relative;
  margin-left: -24px;
}

.breadCrumbs li {
  position: relative;
  float: left;
}

.breadCrumbs li a,
.breadCrumbs li p {
  display: block;
  padding: 0 10px 0 30px;
  line-height: 40px;
  color: #fff;
  background: #3fabba;
}

.breadCrumbs li:first-child a {
  padding: 0 10px 0 20px;  
}

.breadCrumbs li a:hover {
  
}

.breadCrumbs li.activePage p,
.breadCrumbs li.activePage a {
  background: #ADE7DB;
}

.breadCrumbs li:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #3fabba;
  z-index: 10;
}

.breadCrumbs li.activePage:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ADE7DB;
}

/* GIVE EVERY CHILD A DIFFERENT COLOR */
.breadCrumbs li:nth-child(1) a {    /*first level*/
  background: #19A58A;
}

.breadCrumbs li:nth-child(1):after {
  border-left: 20px solid #19A58A;
}

.breadCrumbs li:nth-child(2) a {    /*second level*/
  background: #40C2A9;
}

.breadCrumbs li:nth-child(2):after {
  border-left: 20px solid #40C2A9;
}

.breadCrumbs li:nth-child(3) a {    /*third level*/
  background: #6FCDBB;
}

.breadCrumbs li:nth-child(3):after {
  border-left: 20px solid #6FCDBB;
}



