
#logo{
    width: 140px;
    height: 140px;
   float:left;
   margin-left: 10px

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#fff !important;
}

.sub-card a{
  color: #BEDAA7 !important;
}

body{
    font-family: 'Oswald', sans-serif !important;
    background-image: url(../images/33.jpg); /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7); /* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
  text-align: center;
  font-size: 70px;
  padding: 20px;
  padding-bottom:10px;
  background-color: #fff;
  color: #26a69a;
}

.title{
  width: 800px;
  margin-left: 205px;
  margin-bottom: 0;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0;


}


/*
.topic{
  display: inline-block;
  color: #fff;
}


.topic p{
  padding-left: 8%;
  font-size: 24px;
  margin: 0px;
  color: #EF4B34;
}
*/

.card-title{
  font-size: 30px !important;
  color: #26a69a !important;
  margin-bottom: 0
}

.search{
  margin: 10px 350px;
  padding-bottom: 30px;
}

.search input{
    width: 400px !important;
    color: #fff;
}

.search a{
  margin: 0 auto;
}

.card-image img{
  height: 200px;
  position: cover;
}

.contact{
  text-align: center;
}

.contact li{
  color: #FFF;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}

.sub-card li{
  margin-left: 30px;
  padding: 3px;
  font-size: 22px;
  list-style-type: disc;
}
