#elon{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}

#sign{
  font-size: 24px;
  text-align: center;
  margin: 5px auto;
}

body{
  background-color: #eee;
}
.container{
  background: linear-gradient(#ccc, #999);
  margin: 30px;
  width: 400px;
  height: 580px;
  border-radius: 30px;
  border: 1px solid #777;
  box-shadow:7px 7px 7px #bbb;

}

.display{
  margin:18px;
  width: 360px;
  height: 100px;
  background: #E8F9D0;
  border-radius: 10px;
  border: 1px solid #999;
  box-shadow: 3px 3px 5px #ddd;
  text-align: right;
}

#screen{
  margin: 10px;
  font-size: 30px;
}

.panel{
  width: 352px;
  margin: 0 auto;
  height: auto;
}

button{
  font-size: 24px;
  width: 85px;
  height: 50px;
  margin: 5px 0;
  background: linear-gradient(#eee, #bbb);
  border-radius: 10px;
  outline: none;
  border: 1px solid #999;
  box-shadow: 2px 2px 2px #ccc;
}

button:hover{
  background: #eee;
}

button:active{
  color: #fff;
  background: #555;
}

.col-left{
  float: left;
}

.col-right{
  float: right;
}

#zero{
  width: 175px;
}

#equal{
  height: 110px;
}
