body{
  margin: 0px !important;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper{
  background-image: url(../img/background-image.png);
  background-size: cover;
  min-height: 567px;

}

.nav{
  max-width: 920px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
}

.navbar-logo{
  background-image: url(../img/logo.svg);
  width: 80px;
  height: 45px;
  margin: 0px;
  display: inline-block;
  float: left;
  background-size: cover;
}

.navbar{
  display: block;
  float:left;
}

.nav-list li{
  display: inline;
  margin: 5px;
}

.content{
  min-height: 450px;
  padding-top: 100px;
  max-width: 920px;
  margin: 0 auto;
}

.content-main{
    text-align: center;
}

.content-title{
  font-size: 50px;
}

.content-words{
  font-size: 18px;
}

.searchbox{
  margin: 50px;
}

#search-input{
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: none;
  padding: 20px;
  font-size: 18px;
  border: none;
  border: 1px #fff solid !important;
}

#search-input:focus {
  border: 1px #ee6123 solid !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#9b9b9b !important;
}

#search-submit{
  height: 100% !important;
  color: #fff;
  text-align: center;
  margin: -10px;
  border-radius: 0 5px 5px 0;
  padding: 23px 20px 22px 25px;
  height: 50px;
  background-color: #ee6123;
  border: 1px #ee6123 solid;
  font-size: 16px;
}


.output{
  overflow: auto;
  max-width: 700px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 0px;
  margin:0 auto;
  font-size: 14px;
}

#result{
    padding-bottom: 50px;
}

.url-name{
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

.url-old{
  color: #9b9b9b;
}

.output-footer{
  overflow: auto;
  margin-top: 50px;
}

.url-new{
  padding-top: 50px;
  color: #ee6123;
  display: inline-block;
}

.url-num{
  padding-top: 50px;
  color: #9b9b9b;
  float: right;
  display: inline-block;
}

.url-num img{
  float: right;
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.underline{
  width: 90%;
  margin: 0 auto;
  padding-top:
}
